{% extends "layout.html" %}
{% block body %}
<div>Date: <input type="text" id="datepicker"></div>
	<div id="map" data-condition='{{map_input['conditions']}}' data-day='{{map_input['day']}}'></div>

<!-- Include cartodb.css style -->
<link rel=stylesheet href="http://libs.cartocdn.com/cartodb.js/v3/3.15/themes/css/cartodb.css" />

<!-- Include cartodb.js library -->
<script src="http://libs.cartocdn.com/cartodb.js/v3/3.15/cartodb.js"></script>

<!-- Include Google Maps library -->
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDkOF-XCvogzQK8CQH-cMcE4gIhLQhN4Pg&libraries=visualization"></script>

<!-- Include JQuery library -->
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script  type="text/javascript" src="{{ url_for('static', filename='heatmap.js') }}"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script>

var forecast = {
  "response": {
  "version":"0.1",
  "termsofService":"http://www.wunderground.com/weather/api/d/terms.html",
  "features": {
  "forecast10day": 1
  }
  }
    ,
  "forecast":{
    "txt_forecast": {
    "date":"3:38 PM EST",
    "forecastday": [
    {
    "period":0,
    "icon":"fog",
    "icon_url":"http://icons.wxug.com/i/c/k/fog.gif",
    "title":"Sunday",
    "fcttext":"Areas of fog developing late. Lows overnight in the mid 50s.",
    "fcttext_metric":"Fog developing overnight. Low 12C.",
    "pop":"20"
    }
    ,
    {
    "period":1,
    "icon":"nt_fog",
    "icon_url":"http://icons.wxug.com/i/c/k/nt_fog.gif",
    "title":"Sunday Night",
    "fcttext":"Cloudy skies during the evening with areas of fog developing after midnight. Low around 55F. Winds E at 5 to 10 mph.",
    "fcttext_metric":"Cloudy this evening. Fog developing late. Low 12C. Winds E at 10 to 15 km/h.",
    "pop":"20"
    }
    ,
    {
    "period":2,
    "icon":"chancerain",
    "icon_url":"http://icons.wxug.com/i/c/k/chancerain.gif",
    "title":"Monday",
    "fcttext":"Foggy during the morning hours followed by occasional showers in the afternoon. High around 65F. Winds SSE at 10 to 15 mph. Chance of rain 40%.",
    "fcttext_metric":"Foggy during the morning hours followed by occasional showers in the afternoon. High 18C. Winds SSE at 15 to 25 km/h. Chance of rain 40%.",
    "pop":"40"
    }
    ,
    {
    "period":3,
    "icon":"nt_rain",
    "icon_url":"http://icons.wxug.com/i/c/k/nt_rain.gif",
    "title":"Monday Night",
    "fcttext":"Rain early...then remaining cloudy with showers late. Thunder possible. Low 58F. Winds SW at 15 to 25 mph. Chance of rain 100%.",
    "fcttext_metric":"A steady rain in the evening. Showers continuing late. Thunder possible. Low 14C. Winds SW at 25 to 40 km/h. Chance of rain 100%.",
    "pop":"100"
    }
    ,
    {
    "period":4,
    "icon":"clear",
    "icon_url":"http://icons.wxug.com/i/c/k/clear.gif",
    "title":"Tuesday",
    "fcttext":"Except for a few afternoon clouds, mainly sunny. High 62F. Winds W at 10 to 20 mph.",
    "fcttext_metric":"Mostly sunny skies. High 16C. Winds WNW at 15 to 30 km/h.",
    "pop":"0"
    }
    ,
    {
    "period":5,
    "icon":"nt_partlycloudy",
    "icon_url":"http://icons.wxug.com/i/c/k/nt_partlycloudy.gif",
    "title":"Tuesday Night",
    "fcttext":"Some clouds early will give way to generally clear conditions overnight. Low 44F. Winds NW at 10 to 15 mph.",
    "fcttext_metric":"Some clouds early will give way to generally clear conditions overnight. Low 6C. Winds NW at 15 to 30 km/h.",
    "pop":"0"
    }
    ,
    {
    "period":6,
    "icon":"clear",
    "icon_url":"http://icons.wxug.com/i/c/k/clear.gif",
    "title":"Wednesday",
    "fcttext":"Sunny skies. High 52F. Winds ENE at 5 to 10 mph.",
    "fcttext_metric":"Sunny. High 11C. Winds ENE at 10 to 15 km/h.",
    "pop":"0"
    }
    ,
    {
    "period":7,
    "icon":"nt_partlycloudy",
    "icon_url":"http://icons.wxug.com/i/c/k/nt_partlycloudy.gif",
    "title":"Wednesday Night",
    "fcttext":"Cloudy early with partial clearing expected late. Low 48F. Winds light and variable.",
    "fcttext_metric":"Cloudy skies early, then partly cloudy after midnight. Low 9C. Winds light and variable.",
    "pop":"10"
    }
    ,
    {
    "period":8,
    "icon":"rain",
    "icon_url":"http://icons.wxug.com/i/c/k/rain.gif",
    "title":"Thursday",
    "fcttext":"Cloudy with periods of rain. High 59F. Winds ESE at 5 to 10 mph. Chance of rain 90%. Rainfall near a quarter of an inch.",
    "fcttext_metric":"Cloudy with periods of rain. High near 15C. Winds ESE at 10 to 15 km/h. Chance of rain 90%. Rainfall around 6mm.",
    "pop":"90"
    }
    ,
    {
    "period":9,
    "icon":"nt_chancerain",
    "icon_url":"http://icons.wxug.com/i/c/k/nt_chancerain.gif",
    "title":"Thursday Night",
    "fcttext":"Cloudy with light rain early. Low 52F. Winds W at 5 to 10 mph. Chance of rain 80%.",
    "fcttext_metric":"Cloudy. Periods of light rain early. Low 11C. Winds W at 10 to 15 km/h. Chance of rain 80%.",
    "pop":"80"
    }
    ,
    {
    "period":10,
    "icon":"chancerain",
    "icon_url":"http://icons.wxug.com/i/c/k/chancerain.gif",
    "title":"Friday",
    "fcttext":"Cloudy with a few showers. High 54F. Winds WNW at 5 to 10 mph. Chance of rain 30%.",
    "fcttext_metric":"Cloudy with a few showers. High 12C. Winds WNW at 10 to 15 km/h. Chance of rain 30%.",
    "pop":"30"
    }
    ,
    {
    "period":11,
    "icon":"nt_partlycloudy",
    "icon_url":"http://icons.wxug.com/i/c/k/nt_partlycloudy.gif",
    "title":"Friday Night",
    "fcttext":"Some clouds early will give way to generally clear conditions overnight. Low 37F. Winds WNW at 10 to 15 mph.",
    "fcttext_metric":"Partly cloudy skies. Low 3C. Winds WNW at 10 to 15 km/h.",
    "pop":"20"
    }
    ,
    {
    "period":12,
    "icon":"partlycloudy",
    "icon_url":"http://icons.wxug.com/i/c/k/partlycloudy.gif",
    "title":"Saturday",
    "fcttext":"Partly cloudy skies. High around 45F. Winds WNW at 10 to 15 mph.",
    "fcttext_metric":"Intervals of clouds and sunshine. High 7C. Winds WNW at 15 to 25 km/h.",
    "pop":"10"
    }
    ,
    {
    "period":13,
    "icon":"nt_clear",
    "icon_url":"http://icons.wxug.com/i/c/k/nt_clear.gif",
    "title":"Saturday Night",
    "fcttext":"Clear skies. Low 34F. Winds WNW at 10 to 15 mph.",
    "fcttext_metric":"A mostly clear sky. Low 1C. Winds WNW at 15 to 25 km/h.",
    "pop":"0"
    }
    ,
    {
    "period":14,
    "icon":"clear",
    "icon_url":"http://icons.wxug.com/i/c/k/clear.gif",
    "title":"Sunday",
    "fcttext":"Mainly sunny. High around 45F. Winds WNW at 10 to 15 mph.",
    "fcttext_metric":"Sunny skies. High 7C. Winds WNW at 15 to 25 km/h.",
    "pop":"0"
    }
    ,
    {
    "period":15,
    "icon":"nt_partlycloudy",
    "icon_url":"http://icons.wxug.com/i/c/k/nt_partlycloudy.gif",
    "title":"Sunday Night",
    "fcttext":"Partly cloudy. Low 36F. Winds W at 5 to 10 mph.",
    "fcttext_metric":"Partly cloudy. Low 2C. Winds W at 10 to 15 km/h.",
    "pop":"0"
    }
    ,
    {
    "period":16,
    "icon":"partlycloudy",
    "icon_url":"http://icons.wxug.com/i/c/k/partlycloudy.gif",
    "title":"Monday",
    "fcttext":"Intervals of clouds and sunshine. High 48F. Winds WSW at 10 to 15 mph.",
    "fcttext_metric":"Intervals of clouds and sunshine. High 9C. Winds WSW at 15 to 25 km/h.",
    "pop":"0"
    }
    ,
    {
    "period":17,
    "icon":"nt_partlycloudy",
    "icon_url":"http://icons.wxug.com/i/c/k/nt_partlycloudy.gif",
    "title":"Monday Night",
    "fcttext":"Mostly cloudy skies early, then partly cloudy after midnight. Low 42F. Winds SW at 5 to 10 mph.",
    "fcttext_metric":"A few clouds from time to time. Low near 5C. Winds SW at 10 to 15 km/h.",
    "pop":"10"
    }
    ,
    {
    "period":18,
    "icon":"partlycloudy",
    "icon_url":"http://icons.wxug.com/i/c/k/partlycloudy.gif",
    "title":"Tuesday",
    "fcttext":"Partly cloudy skies. High 52F. Winds SSW at 10 to 15 mph.",
    "fcttext_metric":"Sunshine and clouds mixed. High 11C. Winds SSW at 10 to 15 km/h.",
    "pop":"20"
    }
    ,
    {
    "period":19,
    "icon":"nt_chancerain",
    "icon_url":"http://icons.wxug.com/i/c/k/nt_chancerain.gif",
    "title":"Tuesday Night",
    "fcttext":"Cloudy with occasional rain showers. Low around 45F. Winds S at 5 to 10 mph. Chance of rain 60%.",
    "fcttext_metric":"Cloudy with occasional rain showers. Low 7C. Winds S at 10 to 15 km/h. Chance of rain 60%.",
    "pop":"60"
    }
    ]
    },
    "simpleforecast": {
    "forecastday": [
    {"date":{
  "epoch":"1450051200",
  "pretty":"7:00 PM EST on December 13, 2015",
  "day":13,
  "month":12,
  "year":2015,
  "yday":346,
  "hour":19,
  "min":"00",
  "sec":0,
  "isdst":"0",
  "monthname":"December",
  "monthname_short":"Dec",
  "weekday_short":"Sun",
  "weekday":"Sunday",
  "ampm":"PM",
  "tz_short":"EST",
  "tz_long":"America/New_York"
},
    "period":1,
    "high": {
    "fahrenheit":"66",
    "celsius":"18"
    },
    "low": {
    "fahrenheit":"55",
    "celsius":"13"
    },
    "conditions":"Fog",
    "icon":"fog",
    "icon_url":"http://icons.wxug.com/i/c/k/fog.gif",
    "skyicon":"",
    "pop":20,
    "qpf_allday": {
    "in": 0.00,
    "mm": 0
    },
    "qpf_day": {
    "in": null,
    "mm": null
    },
    "qpf_night": {
    "in": 0.00,
    "mm": 0
    },
    "snow_allday": {
    "in": 0.0,
    "cm": 0.0
    },
    "snow_day": {
    "in": null,
    "cm": null
    },
    "snow_night": {
    "in": 0.0,
    "cm": 0.0
    },
    "maxwind": {
    "mph": 7,
    "kph": 11,
    "dir": "ENE",
    "degrees": 0
    },
    "avewind": {
    "mph": 1,
    "kph": 2,
    "dir": "ENE",
    "degrees": 0
    },
    "avehumidity": 76,
    "maxhumidity": 0,
    "minhumidity": 0
    }
    ,
    {"date":{
  "epoch":"1450137600",
  "pretty":"7:00 PM EST on December 14, 2015",
  "day":14,
  "month":12,
  "year":2015,
  "yday":347,
  "hour":19,
  "min":"00",
  "sec":0,
  "isdst":"0",
  "monthname":"December",
  "monthname_short":"Dec",
  "weekday_short":"Mon",
  "weekday":"Monday",
  "ampm":"PM",
  "tz_short":"EST",
  "tz_long":"America/New_York"
},
    "period":2,
    "high": {
    "fahrenheit":"65",
    "celsius":"18"
    },
    "low": {
    "fahrenheit":"58",
    "celsius":"14"
    },
    "conditions":"Chance of Rain",
    "icon":"chancerain",
    "icon_url":"http://icons.wxug.com/i/c/k/chancerain.gif",
    "skyicon":"",
    "pop":40,
    "qpf_allday": {
    "in": 0.42,
    "mm": 11
    },
    "qpf_day": {
    "in": 0.02,
    "mm": 1
    },
    "qpf_night": {
    "in": 0.39,
    "mm": 10
    },
    "snow_allday": {
    "in": 0.0,
    "cm": 0.0
    },
    "snow_day": {
    "in": 0.0,
    "cm": 0.0
    },
    "snow_night": {
    "in": 0.0,
    "cm": 0.0
    },
    "maxwind": {
    "mph": 15,
    "kph": 24,
    "dir": "SSE",
    "degrees": 159
    },
    "avewind": {
    "mph": 11,
    "kph": 18,
    "dir": "SSE",
    "degrees": 159
    },
    "avehumidity": 79,
    "maxhumidity": 0,
    "minhumidity": 0
    }
    ,
    {"date":{
  "epoch":"1450224000",
  "pretty":"7:00 PM EST on December 15, 2015",
  "day":15,
  "month":12,
  "year":2015,
  "yday":348,
  "hour":19,
  "min":"00",
  "sec":0,
  "isdst":"0",
  "monthname":"December",
  "monthname_short":"Dec",
  "weekday_short":"Tue",
  "weekday":"Tuesday",
  "ampm":"PM",
  "tz_short":"EST",
  "tz_long":"America/New_York"
},
    "period":3,
    "high": {
    "fahrenheit":"62",
    "celsius":"17"
    },
    "low": {
    "fahrenheit":"44",
    "celsius":"7"
    },
    "conditions":"Clear",
    "icon":"clear",
    "icon_url":"http://icons.wxug.com/i/c/k/clear.gif",
    "skyicon":"",
    "pop":0,
    "qpf_allday": {
    "in": 0.00,
    "mm": 0
    },
    "qpf_day": {
    "in": 0.00,
    "mm": 0
    },
    "qpf_night": {
    "in": 0.00,
    "mm": 0
    },
    "snow_allday": {
    "in": 0.0,
    "cm": 0.0
    },
    "snow_day": {
    "in": 0.0,
    "cm": 0.0
    },
    "snow_night": {
    "in": 0.0,
    "cm": 0.0
    },
    "maxwind": {
    "mph": 20,
    "kph": 32,
    "dir": "W",
    "degrees": 281
    },
    "avewind": {
    "mph": 16,
    "kph": 26,
    "dir": "W",
    "degrees": 281
    },
    "avehumidity": 51,
    "maxhumidity": 0,
    "minhumidity": 0
    }
    ,
    {"date":{
  "epoch":"1450310400",
  "pretty":"7:00 PM EST on December 16, 2015",
  "day":16,
  "month":12,
  "year":2015,
  "yday":349,
  "hour":19,
  "min":"00",
  "sec":0,
  "isdst":"0",
  "monthname":"December",
  "monthname_short":"Dec",
  "weekday_short":"Wed",
  "weekday":"Wednesday",
  "ampm":"PM",
  "tz_short":"EST",
  "tz_long":"America/New_York"
},
    "period":4,
    "high": {
    "fahrenheit":"52",
    "celsius":"11"
    },
    "low": {
    "fahrenheit":"48",
    "celsius":"9"
    },
    "conditions":"Clear",
    "icon":"clear",
    "icon_url":"http://icons.wxug.com/i/c/k/clear.gif",
    "skyicon":"",
    "pop":0,
    "qpf_allday": {
    "in": 0.00,
    "mm": 0
    },
    "qpf_day": {
    "in": 0.00,
    "mm": 0
    },
    "qpf_night": {
    "in": 0.00,
    "mm": 0
    },
    "snow_allday": {
    "in": 0.0,
    "cm": 0.0
    },
    "snow_day": {
    "in": 0.0,
    "cm": 0.0
    },
    "snow_night": {
    "in": 0.0,
    "cm": 0.0
    },
    "maxwind": {
    "mph": 10,
    "kph": 16,
    "dir": "ENE",
    "degrees": 57
    },
    "avewind": {
    "mph": 7,
    "kph": 11,
    "dir": "ENE",
    "degrees": 57
    },
    "avehumidity": 57,
    "maxhumidity": 0,
    "minhumidity": 0
    }
    ,
    {"date":{
  "epoch":"1450396800",
  "pretty":"7:00 PM EST on December 17, 2015",
  "day":17,
  "month":12,
  "year":2015,
  "yday":350,
  "hour":19,
  "min":"00",
  "sec":0,
  "isdst":"0",
  "monthname":"December",
  "monthname_short":"Dec",
  "weekday_short":"Thu",
  "weekday":"Thursday",
  "ampm":"PM",
  "tz_short":"EST",
  "tz_long":"America/New_York"
},
    "period":5,
    "high": {
    "fahrenheit":"59",
    "celsius":"15"
    },
    "low": {
    "fahrenheit":"52",
    "celsius":"11"
    },
    "conditions":"Rain",
    "icon":"rain",
    "icon_url":"http://icons.wxug.com/i/c/k/rain.gif",
    "skyicon":"",
    "pop":90,
    "qpf_allday": {
    "in": 0.34,
    "mm": 9
    },
    "qpf_day": {
    "in": 0.26,
    "mm": 7
    },
    "qpf_night": {
    "in": 0.08,
    "mm": 2
    },
    "snow_allday": {
    "in": 0.0,
    "cm": 0.0
    },
    "snow_day": {
    "in": 0.0,
    "cm": 0.0
    },
    "snow_night": {
    "in": 0.0,
    "cm": 0.0
    },
    "maxwind": {
    "mph": 10,
    "kph": 16,
    "dir": "ESE",
    "degrees": 120
    },
    "avewind": {
    "mph": 8,
    "kph": 13,
    "dir": "ESE",
    "degrees": 120
    },
    "avehumidity": 75,
    "maxhumidity": 0,
    "minhumidity": 0
    }
    ,
    {"date":{
  "epoch":"1450483200",
  "pretty":"7:00 PM EST on December 18, 2015",
  "day":18,
  "month":12,
  "year":2015,
  "yday":351,
  "hour":19,
  "min":"00",
  "sec":0,
  "isdst":"0",
  "monthname":"December",
  "monthname_short":"Dec",
  "weekday_short":"Fri",
  "weekday":"Friday",
  "ampm":"PM",
  "tz_short":"EST",
  "tz_long":"America/New_York"
},
    "period":6,
    "high": {
    "fahrenheit":"54",
    "celsius":"12"
    },
    "low": {
    "fahrenheit":"37",
    "celsius":"3"
    },
    "conditions":"Chance of Rain",
    "icon":"chancerain",
    "icon_url":"http://icons.wxug.com/i/c/k/chancerain.gif",
    "skyicon":"",
    "pop":30,
    "qpf_allday": {
    "in": 0.06,
    "mm": 2
    },
    "qpf_day": {
    "in": 0.06,
    "mm": 2
    },
    "qpf_night": {
    "in": 0.00,
    "mm": 0
    },
    "snow_allday": {
    "in": 0.0,
    "cm": 0.0
    },
    "snow_day": {
    "in": 0.0,
    "cm": 0.0
    },
    "snow_night": {
    "in": 0.0,
    "cm": 0.0
    },
    "maxwind": {
    "mph": 10,
    "kph": 16,
    "dir": "WNW",
    "degrees": 295
    },
    "avewind": {
    "mph": 8,
    "kph": 13,
    "dir": "WNW",
    "degrees": 295
    },
    "avehumidity": 66,
    "maxhumidity": 0,
    "minhumidity": 0
    }
    ,
    {"date":{
  "epoch":"1450569600",
  "pretty":"7:00 PM EST on December 19, 2015",
  "day":19,
  "month":12,
  "year":2015,
  "yday":352,
  "hour":19,
  "min":"00",
  "sec":0,
  "isdst":"0",
  "monthname":"December",
  "monthname_short":"Dec",
  "weekday_short":"Sat",
  "weekday":"Saturday",
  "ampm":"PM",
  "tz_short":"EST",
  "tz_long":"America/New_York"
},
    "period":7,
    "high": {
    "fahrenheit":"45",
    "celsius":"7"
    },
    "low": {
    "fahrenheit":"34",
    "celsius":"1"
    },
    "conditions":"Partly Cloudy",
    "icon":"partlycloudy",
    "icon_url":"http://icons.wxug.com/i/c/k/partlycloudy.gif",
    "skyicon":"",
    "pop":10,
    "qpf_allday": {
    "in": 0.00,
    "mm": 0
    },
    "qpf_day": {
    "in": 0.00,
    "mm": 0
    },
    "qpf_night": {
    "in": 0.00,
    "mm": 0
    },
    "snow_allday": {
    "in": 0.0,
    "cm": 0.0
    },
    "snow_day": {
    "in": 0.0,
    "cm": 0.0
    },
    "snow_night": {
    "in": 0.0,
    "cm": 0.0
    },
    "maxwind": {
    "mph": 15,
    "kph": 24,
    "dir": "WNW",
    "degrees": 288
    },
    "avewind": {
    "mph": 12,
    "kph": 19,
    "dir": "WNW",
    "degrees": 288
    },
    "avehumidity": 41,
    "maxhumidity": 0,
    "minhumidity": 0
    }
    ,
    {"date":{
  "epoch":"1450656000",
  "pretty":"7:00 PM EST on December 20, 2015",
  "day":20,
  "month":12,
  "year":2015,
  "yday":353,
  "hour":19,
  "min":"00",
  "sec":0,
  "isdst":"0",
  "monthname":"December",
  "monthname_short":"Dec",
  "weekday_short":"Sun",
  "weekday":"Sunday",
  "ampm":"PM",
  "tz_short":"EST",
  "tz_long":"America/New_York"
},
    "period":8,
    "high": {
    "fahrenheit":"45",
    "celsius":"7"
    },
    "low": {
    "fahrenheit":"36",
    "celsius":"2"
    },
    "conditions":"Clear",
    "icon":"clear",
    "icon_url":"http://icons.wxug.com/i/c/k/clear.gif",
    "skyicon":"",
    "pop":0,
    "qpf_allday": {
    "in": 0.00,
    "mm": 0
    },
    "qpf_day": {
    "in": 0.00,
    "mm": 0
    },
    "qpf_night": {
    "in": 0.00,
    "mm": 0
    },
    "snow_allday": {
    "in": 0.0,
    "cm": 0.0
    },
    "snow_day": {
    "in": 0.0,
    "cm": 0.0
    },
    "snow_night": {
    "in": 0.0,
    "cm": 0.0
    },
    "maxwind": {
    "mph": 15,
    "kph": 24,
    "dir": "WNW",
    "degrees": 295
    },
    "avewind": {
    "mph": 12,
    "kph": 19,
    "dir": "WNW",
    "degrees": 295
    },
    "avehumidity": 43,
    "maxhumidity": 0,
    "minhumidity": 0
    }
    ,
    {"date":{
  "epoch":"1450742400",
  "pretty":"7:00 PM EST on December 21, 2015",
  "day":21,
  "month":12,
  "year":2015,
  "yday":354,
  "hour":19,
  "min":"00",
  "sec":0,
  "isdst":"0",
  "monthname":"December",
  "monthname_short":"Dec",
  "weekday_short":"Mon",
  "weekday":"Monday",
  "ampm":"PM",
  "tz_short":"EST",
  "tz_long":"America/New_York"
},
    "period":9,
    "high": {
    "fahrenheit":"48",
    "celsius":"9"
    },
    "low": {
    "fahrenheit":"42",
    "celsius":"6"
    },
    "conditions":"Partly Cloudy",
    "icon":"partlycloudy",
    "icon_url":"http://icons.wxug.com/i/c/k/partlycloudy.gif",
    "skyicon":"",
    "pop":0,
    "qpf_allday": {
    "in": 0.00,
    "mm": 0
    },
    "qpf_day": {
    "in": 0.00,
    "mm": 0
    },
    "qpf_night": {
    "in": 0.00,
    "mm": 0
    },
    "snow_allday": {
    "in": 0.0,
    "cm": 0.0
    },
    "snow_day": {
    "in": 0.0,
    "cm": 0.0
    },
    "snow_night": {
    "in": 0.0,
    "cm": 0.0
    },
    "maxwind": {
    "mph": 15,
    "kph": 24,
    "dir": "WSW",
    "degrees": 239
    },
    "avewind": {
    "mph": 11,
    "kph": 18,
    "dir": "WSW",
    "degrees": 239
    },
    "avehumidity": 49,
    "maxhumidity": 0,
    "minhumidity": 0
    }
    ,
    {"date":{
  "epoch":"1450828800",
  "pretty":"7:00 PM EST on December 22, 2015",
  "day":22,
  "month":12,
  "year":2015,
  "yday":355,
  "hour":19,
  "min":"00",
  "sec":0,
  "isdst":"0",
  "monthname":"December",
  "monthname_short":"Dec",
  "weekday_short":"Tue",
  "weekday":"Tuesday",
  "ampm":"PM",
  "tz_short":"EST",
  "tz_long":"America/New_York"
},
    "period":10,
    "high": {
    "fahrenheit":"52",
    "celsius":"11"
    },
    "low": {
    "fahrenheit":"45",
    "celsius":"7"
    },
    "conditions":"Partly Cloudy",
    "icon":"partlycloudy",
    "icon_url":"http://icons.wxug.com/i/c/k/partlycloudy.gif",
    "skyicon":"",
    "pop":20,
    "qpf_allday": {
    "in": 0.13,
    "mm": 3
    },
    "qpf_day": {
    "in": 0.00,
    "mm": 0
    },
    "qpf_night": {
    "in": 0.13,
    "mm": 3
    },
    "snow_allday": {
    "in": 0.0,
    "cm": 0.0
    },
    "snow_day": {
    "in": 0.0,
    "cm": 0.0
    },
    "snow_night": {
    "in": 0.0,
    "cm": 0.0
    },
    "maxwind": {
    "mph": 15,
    "kph": 24,
    "dir": "SSW",
    "degrees": 206
    },
    "avewind": {
    "mph": 10,
    "kph": 16,
    "dir": "SSW",
    "degrees": 206
    },
    "avehumidity": 66,
    "maxhumidity": 0,
    "minhumidity": 0
    }
    ]
    }
  }
}

</script>
{% endblock %}
